.userLoginSection {
    margin-top: 8px;
    width: 100%;
    position: absolute;
    text-align: end;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
  }
  
  .menu li {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: underline;
    color: white;
  }

  .logoImg {
    max-width: calc(10px + 2vmin);
    min-width: 150px;
    margin: 8px 0px 0px 16px;
  }